h5 Growth in average income by county, <span class="nowrap">1990 to 2015</span>

div#legend
    div.labels.clearfix
        div.lower Slowest growing 20%
        div.middle Middle 20%
        div.upper Fastest growing 20%
    div.scale.clearfix
        div.lower
        div.lower-middle
        div.middle
        div.upper-middle
        div.upper
        
    div.note Only income from employment is included. Growth is reported in inflation-adjusted 2015 dollars.

div#graphic

div.footer.clearfix
    div.brand Quartz | qz.com
    div.source Data: <a href="https://www.bls.gov/cew/">US Bureau of Labor Statistics</a>

p.break &nbsp;
