h5 Real wage growth of US counties from 1990 to 2015

ul#legend
    li.lower
        b
        div Bottom 20%
    li.lower-middle
        b
        div Lower-middle 20%
    li.middle
        b
        div Middle 20%
    li.upper-middle
        b
        div Upper-middle 20%
    li.upper
        b
        div Top 20%

div#graphic

div.footer.left Quartz | qz.com
div.footer.right Data: <a href="https://www.bls.gov/cew/">US Bureau of Labor Statistics</a>
