@import 'maps/base'

$lower = #1A9B8C
$lower_middle = #41C5A4
$middle = #C4C4C4
$upper_middle = #D190B6
$upper = #703C5C
$no_data = #333

.item-body h5
	padding 15px 0 0 0
	margin 0
	font-size 22px
	line-height 26px
	font-family $qz-sans
	font-weight normal
	text-align center

	.nowrap
		white-space: nowrap;

// svg
// 	border-bottom 1px solid black

#legend
	padding-top 20px
	padding-bottom 20px
	width 70%
	margin auto

	.labels
		width 100%
		font 16px $qz-sans
		padding-bottom 5px
		vertical-align bottom

		div
			display block
			float left
			width 33.3333%

			&.lower
				text-align left

			&.middle
				text-align center

			&.upper
				text-align right

	.scale
		width 100%

		div
			display block
			float left
			width 20%
			height 16px

			&.lower
				 background-color: $lower

			&.lower-middle
				 background-color: $lower_middle

			&.middle
				 background-color: $middle

			&.upper-middle
				 background-color: $upper_middle

			&.upper
				 background-color: $upper

			&.no-data
				 background-color: $no_data

	.note
		padding-top 5px
		font 14px $qz-sans
		color $qz-gray-3

// Paths
.paths
	.counties path
		// fill $qz-map-land-fill
		stroke $qz-map-land-stroke
		stroke-width 0.5px

		&.lower
			fill $lower

		&.lower-middle
			fill $lower_middle

		&.middle
			fill $middle

		&.upper-middle
			fill $upper_middle

		&.upper
			fill $upper

		&.no-data
			fill $no_data

		&.fade
			opacity: 0.25

	.states path
		fill none
		stroke #333
		stroke-width 1.5px

		&.fade
			opacity: 0.25

	.selection path
		fill none
		stroke #fff
		stroke-width 3px
		pointer-events none

#tooltip
	position absolute
	padding 4px 4px 6px 4px
	font 14px $qz-sans
	background $qz-background-gray
	border 1px solid $qz-gray-3
	// border-radius 8px
	pointer-events none
	opacity 0

	.county
		font 16px $qz-sans-bold
		font-weight bold

@media screen and (max-width $width-mobile)
	#legend
		width 80%

		.labels
			font-size 14px

		.note
			font-size 12px

	.paths
		.states path
			fill none
			stroke #333
			stroke-width 0.75px

@media screen and (max-width 959px)
	.paths
		.counties path
			stroke-width 0.5px

			&.lower
				stroke $lower

			&.lower-middle
				stroke $lower_middle

			&.middle
				stroke $middle

			&.upper-middle
				stroke $upper_middle

			&.upper
				stroke $upper

			&.no-data
				stroke $no_data
